parameters:
	tmpDir: build/phpstan
	level: 5
	paths:
		- src/
		- tests/
	bootstrapFiles:
		- vendor/codeigniter4/framework/system/Test/bootstrap.php
	excludePaths:
	ignoreErrors:
	    -
	        message: '#Call to deprecated function random_string\(\):#'
	        paths:
	            - src/Handlers/RedisHandler.php
	            - src/Handlers/PredisHandler.php
	    -
	        message: '#Access to an undefined property CodeIgniter\\I18n\\Time::\$timestamp.#'
	    -
	        message: '#Call to an undefined method CodeIgniter\\Queue\\Models\\QueueJobFailedModel::affectedRows\(\).#'
	        paths:
	            - src/Handlers/BaseHandler.php
	    -
	        message: '#Call to an undefined method CodeIgniter\\Queue\\Models\\QueueJobFailedModel::truncate\(\).#'
	        paths:
	            - src/Handlers/BaseHandler.php
	universalObjectCratesClasses:
		- CodeIgniter\Entity
		- CodeIgniter\Entity\Entity
		- Faker\Generator
	scanDirectories:
		- vendor/codeigniter4/framework/system/Helpers
	dynamicConstantNames:
		- APP_NAMESPACE
		- CI_DEBUG
		- ENVIRONMENT
